/* ----------------- reset ----------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ----------------- activation des polices online ----------------- */

@font-face {
	font-family: "PT Sans";
	src: url('../fonts/PTS55F.ttf');  
	src: 	
		local('PT Sans'),
		local('PT Sans'),
		url('../fonts/PTS55F.ttf')
		format('truetype');
}

@font-face {
	font-family: "Oranienbaum";
	src: url('../fonts/Oranienbaum.ttf.ttf');  
	src: 	
		local('Oranienbaum'),
		local('Oranienbaum'),
		url('../fonts/Oranienbaum.ttf')
		format('truetype');
}

@font-face {
	font-family: "Bluu Next";
	src: url('../fonts/BluuNext-Bolditalic.otf');  
	src: 	
		local('Bluu Next'),
		local('Bluu Next'),
		url('../fonts/BluuNext-Bolditalic.otf')
		format('opentype');
}

/* ----------------- général ----------------- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	background-color: white;
	font-family: "PT Sans";
	font-size: 1.05em;
}

a {
	text-decoration: none;
	color: #2d30bc;
}

h2 {
	font-family: "Bluu Next";
	font-style: italic;
	font-size: 0.9em;
	color: #4be98e;
}

/* ----------------- haut ----------------- */

#haut {
	width: 92%;
	margin: 0 auto;
	height: 100px;
	border-bottom: 0.12em solid #2d30bc;
}

#hautGauche {
	width: 35%;
	height: 100px;
	float: left;
	font-family: "Oranienbaum";
	font-size: 0.7em;
	margin-top: 1.95em;
	text-transform: uppercase;
	font-weight: bold;
}

#hautGauche h1 {
		margin-top:0.95em;
		font-size: 310%;
}

#hautDroite {
	width: 65%;
	height: 100px;
	float:left;
	font-family: "PT Sans";
	font-size: 1.2em;
}

#haut ul {
	margin-top: 3.4em;
	float: right;
}

#haut li {
    display: inline;
    margin-left: 1.2em;
}

#haut li a:hover {
	font-family: "Bluu Next";
	font-size: 1.03em;
	font-style: italic;
	color: #4be98e;
}

.page-active {
	font-family: "Bluu Next";
	font-size: 1.05em;
	font-style: italic;
	color: #4be98e;
}


/* ----------------- contenu ----------------- */


#contenu {
	width: 92%;
	margin: 3em auto 0em auto;
	color: #2d30bc;
}

/* ----------------- index ----------------- */

.img_vitrine {
	height: 240px;
	margin-right: 1.3em;
	margin-bottom: 1.3em;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.img_vitrine:hover {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}

.img_cadre {
	border: 0.5px solid #2d30bc;
	-webkit-transition: .3s ease-in-out;
}

.img_cadre:hover {
	border: 0.5px solid #ff4848;
}

/* ----------------- projets ----------------- */

#contenu_txt {
	width: 27%;
	float: left;
	margin-right: 13%;
	font-size: 1.15em;
	line-height: 1.5em;
	margin-top: -0.5em; /* alignement avec l'image */
}

#contenu_img_txt {
	width: 60%;
	float: left;
}

#contenu_img_txt img {
	width: 100%;
    height: auto;
    max-width: 100%;
    margin-bottom: 1em;	
}

#contenu_G {
	width: 24%;
	margin-right: 2%;
	float: left;
	line-height: 1.45em;
	font-size: 0.92em;
}

#contenu_G img {
	width: 100%;
    height: auto;
    max-width: 100%;
    margin-bottom: 1em;
}

.invisible {
	opacity: 0;
}

#contenu_D {
	width: 34%;
	float: left;
}

#contenu_D img {
	width: 100%;
    height: auto;
    max-width: 100%;
    margin-bottom: 1em;
}

/* ----------------- about ----------------- */

#contenu_txt.about {width: 65%;margin-bottom: 1em;}

/* ----------------- blog ----------------- */

.date_article {
	color: #2d30bc;
	font-size: 1em;
}

.preview {
	width: 22%;
	border: 0.12em solid #2d30bc;
	margin-right: 4%;
	padding: 1em 1.5em;
	line-height: 1.35em;
	float: left;
}

.preview:hover {border: 0.12em solid #ff4848;}

.preview img {
	width: 100%;
	max-width: 100%;
	height: auto;
}

.preview h2, .article h2{
	margin-bottom: 0.5em;
	font-size: 1.4em;
	line-height: 1.1em;
}

.dernier_article {
	margin-right: 0;
}

.article {
	border: 0.12em solid #2d30bc;
	margin-right: 4%;
	padding: 1em 2em;
	width: 100%;
}

.article a {color: #4be98e; text-decoration: underline;}

.article a:hover, .article a:visited {color:#ff4848;}

.article p {font-size: 1.15em; line-height: 1.65em;}

#img_article {
	width: 100%;
}

#img_article img {
	height: 15em;
	margin-right: 0.5em;
	margin-bottom: 0.5em;
}

#folio {
	float: left;
	width: 100%;
	margin: 2em 0 0 0;
	text-align: center;
	font-family: "Futura";
	font-size: 1.65em;
}

#folio a {color:#ff4848;}

/* ----------------- footer ----------------- */

footer {
	width: 100%;
	float: left;
	height: 2.5em;
	padding-left: 4%;
	padding-right: 4%;
	bottom: 0;
	position: relative;
	font-size: 0.65em;
	color: #2d30bc;
	font-family: 'PT Sans';
	margin-top: 3em;
}

footer a {
	color: #2d30bc;
}

footer a:hover {color: #ff4848;}

.copyright{
	float: right;
}

/* ----------------- responsive ----------------- */


@media screen and (max-width: 1100px) {

	#hautGauche h1 {font-size: 245%;margin-top: 1.45em;}

	#haut li {font-size: 95%;}

	#haut ul {margin-top: 3.5em;}

	#contenu_txt {font-size: 1em;}

	.preview h2 {font-size: 130%;}

	.preview {width: 23.75%; margin-right: 1.25%;}

	.img_vitrine {height: 210px;}

	#folio {margin-top: 1.5em;}


	.article {font-size: 0.9em;}	




	#img_article img {max-height: 27%;height: auto;}

}



@media screen and (max-width: 800px){

	body {padding:1.5em;}

	#haut {border:0;width: 100%;}

	#hautGauche {float: left; width: 100%;height: auto; border-bottom: 3px solid #2d30bc; margin:1em 0 0 0;}

	#hautGauche h1 {font-size: 495%; text-align: center;margin: 0 0 0.04em 0; line-height: 1em;}

	#hautDroite {width: 100%; float:left; font-size: 1.2em; height: 75px; margin: 0.55em 0 0 0;}

	#haut ul {float: none; margin:0 auto; text-align: center;}

	#haut li {margin:0 1em 0 1em;}

	#contenu, body {width: 100%;}

	.img_vitrine {width: 100%; height: auto;}

	#contenu_txt {width: 100%;font-size: 110%; }

	#contenu_txt h2 {line-height: 1.35em;}

	#contenu_D {width: 100%;float: left;}

	#contenu_G {width: 100%; margin-top: 1.5em;}

	#contenu_img_txt {width: 100%; margin-top: 1.5em;}

	.preview {width: 100%; margin-bottom: 1.4em; font-size: 105%; line-height: 150%;}

	#folio {margin: 0 0 0.8em 0; font-size: 200%;}

	.dernier_article {margin-bottom: 0.9em;}

	.article {width: 100%; float: left; font-size: 110%; margin-bottom: 1.7em; padding: 1em;}

	#img_article {width: 100%;}

	#img_article img {max-width: 100%; height: auto; }

	footer {padding:0; margin-top: 0em;}

	#contenu_txt.about {width: 75%;}
		
}